.navigation {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 2rem;
    list-style: none;
}

.header {
    border: 1px solid #777;
    border-radius: 4px;
    padding: 4px;
}

.navigation a:hover{
    color: #777;
    text-decoration: underline;
}